@import "../../variables";

.address {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

.status {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  span,
  b {
    line-height: 20px;
  }
}

.container {
  display: flex;
  background-color: $orange;
  color: white;
  padding: 5px;
  padding-right: 30px;
  border-radius: 50px;
  align-items: center;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
